<ul class="flex">
    <li class="mr-6">
      <a class="text-blue-500 hover:text-blue-800" (click)="SongsClicked()">Songs</a>
    </li>
    <li class="mr-6">
      <a class="text-blue-500 hover:text-blue-800"(click)="AlbumsClicked()">Albums</a>
    </li>
    <li class="mr-6">
      <a class="text-blue-500 hover:text-blue-800" (click)="AddSongClicked()">Add Song</a>
    </li>
    <li class="mr-6">
      <a class="text-blue-500 hover:text-blue-800" (click)="AddAlbumClicked()">Add Album</a>
    </li>
</ul>