<form class="max-w-sm mx-auto" (ngSubmit)="create(album); $event.preventDefault()">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-blue-500" for="albumName">Name</label>
    <input class="border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" type="text" name="albumName" [(ngModel)]="album.albumName" required/>

    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-blue-500" for="durationInSeconds">Released Date</label>
    <input class="border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" type="date" name="releasedDate" [(ngModel)]="album.releasedDate" required/>

    <button priority="submit">Submit</button>
</form>